.App {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.calculator-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.link {
  color: #61dafb;
}
.right-panel-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.football-container {
  background-image: url("./assets/football-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}
.all-players-container {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}
.player-container{
  margin:8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 0.8em;
}

::-webkit-scrollbar {
  display: none;
}
