.App {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.calculator-container {
  min-height: 100vh;
  display: flex;
  margin-left:8%;
  justify-content: space-around;
  flex-direction: column;
}
.budget-container{
  width: 80%;
}
.link {
  color: #61dafb;
}
.right-panel-container {
  display: flex;
  flex-wrap: wrap;
}

.player-container{
  margin:8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 0.8em;
}

::-webkit-scrollbar {
  display: none;
}
